* {
    font-family: "Poppins", sans-serif;
}
.nav-item {
    padding-left: 30px;
    margin: auto;
}
.slider-area .carousel-item{
    position: relative;
}
.slider-area .card{
    background-color: #FFF3E3;
    border: none;
    padding: 25px;
    position: absolute;
    top: 210px;
    right: 70px;
}

.slider-area .card h5{
    font-size: 15px;
    font-weight: 600;
    color: #333;
}
.slider-area .card h2{
    font-size: 52px;
    font-weight: 700;
    color: #B88E2F;
}
.slider-area .card p{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 50px;
}
.slider-area .card .btn{
    font-size: 16px;
    font-weight: 700;
    background-color: #B88E2F;
    padding: 25px 72px;
    border-radius: 0;
    border: none;

}
.browse-item{
    margin-top: 50px;
    margin-bottom: 50px;
}
.browse-text h3{
    font-size: 32px;
    color: #333;
}
.browse-text p{
    font-size: 20px;
    color: #666;
    margin-bottom: 50px;
}
.browse-item .card{
    border: none;
}
.browse-item .card h5{
    font-size: 24px;
    margin-top: 10px;
}
.browse-item a{
    text-decoration: none;
    
    color: #333;
}