* {
    font-family: "Poppins", sans-serif;
}
.nav-item {
    padding-left: 30px;
    margin: auto;
}
.slider-area .carousel-item{
    position: relative;
}
.slider-area .card{
    background-color: #FFF3E3;
    border: none;
    padding: 25px;
    position: absolute;
    top: 210px;
    right: 70px;
}

.slider-area .card h5{
    font-size: 15px;
    font-weight: 600;
    color: #333;
}
.slider-area .card h2{
    font-size: 52px;
    font-weight: 700;
    color: #B88E2F;
}
.slider-area .card p{
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 50px;
}
.slider-area .card .btn{
    font-size: 16px;
    font-weight: 700;
    background-color: #B88E2F;
    padding: 23px 70px;
    border-radius: 0;
    border: 3px solid #B88E2F;

}
.slider-area .card .btn:hover {
    color: #B88E2F;
    background-color: #FFF3E3;

}
.browse-item{
    margin-top: 50px;
    margin-bottom: 50px;
}
.browse-text h3{
    font-size: 32px;
    color: #333;
}
.browse-text p{
    font-size: 20px;
    color: #666;
    margin-bottom: 50px;
}
.browse-item .card{
    border: none;
}
.browse-item .card h5{
    font-size: 24px;
    margin-top: 10px;
}
.browse-item a{
    text-decoration: none;
    
    color: #333;
}
.products{
    margin-top: 50px;
    margin-bottom: 50px;
}
.products h3{
    font-size: 40px;
    color: #333;
    margin-bottom: 40px;
}
.products .card{
    border-radius: 0;
    box-shadow: 0px 0px 15px #00000038 ;
}
.products .card .card-img-top{
    border-radius: 0;
}
.products .card .card-title{
    color: #3a3a3a;
    font-size: 24px;
    font-weight: 600;
}
.products .card .card-text{
    color: #898989;
    font-size: 16px;
    font-weight: 500;
}
.products .card .price{
    color: #3a3a3a;
    font-size: 20px;
    font-weight: 600;
}
.sohow-btn .btn{
    font-size: 16px;
    color: #B88E2F;
    border: 2px solid#B88E2F;
    padding: 12px 72px;
    border-radius: 0;
    margin-top: 30px;
}
.sohow-btn .btn:hover{
    color: #fff;
    background-color: #B88E2F;
}
.gallary{
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}
.gallary h5{
    font-size: 20px;
    color: #616161;
}
.gallary h3{
    font-size: 40px;
    color: #3A3A3A;
}
footer{
    
    font-size: 16px;
    color: #616161;
    margin: auto;
    width: 80%;
    padding-top: 20px;
    border-top: 1px solid #D9D9D9;

}
